<h1>All Jobs</h1>

<ul>
  <% @jobs.each do |job| %>
  <li class=job_<%= job.id %>>
    <%= link_to job.title, job_path(job) %>:
    <%= link_to "Edit", edit_job_path(job) %>
    <%= link_to "Delete", job_path(job), method: "delete" %>
  </li>
  <% end %>
</ul>
