/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 a{
   padding: 10px;
   color: green;
 }

  a:hover{
   border: 5px solid green;
   padding: 5px;
 }
 a:visited {
   color: white;
 }
 a:active {
   background: green;
   color: black;
 }

 .the-nav {
   border-bottom:solid 1px transparent;
   display: flex;
   list-style: none;
   justify-content: space-between;
 }

 body {
   font-family: 'VT323', monospace;
   text-align: center;
   font-size: 24px;
   background-color: black;
   color: green;
 }

img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.3;
  background-repeat:round;
  width: 100%;
  height: 100%;
}
 .background-image {
 }

 .list-style {
   list-style: none;
 }

 body h1 {
   font-size: 80px;
   color: green;
 }

 .d-holder {
   display: flex;
   justify-content: space-around;
 }

 .d-card li {
   list-style: none;
 }

 .category-class {
   list-style: none;
 }

input {
  background-color: black;
  color: green;
  border: 1px solid green;
  font-family: 'VT323', monospace;
  font-size: 24px;
}

select {
  background-color: black;
  color: green;
  border: 1px solid green;
  font-family: 'VT323', monospace;
  font-size: 24px;
}

textarea {
  background-color: black;
  color: green;
  border: 1px solid green;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.comment-time{
  font-size: 12px;
}

.contact-class {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 10px 40px 0px 40px;
  border: 2px solid green;
  padding-right: 30px;
}

.edit-delete {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.form-div {
  display: flex;
  justify-content: center;
  text-align: left;
}
